* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

//主題
$themes: (
  light: (
    primary-color: #4a90e2,
    background-color: white,
    text-color: black,
    hover-color: rgba(74, 122, 226, 0.6)
    ),
   
  dark: (
    primary-color: #6aa2e2,
    background-color: black,
    text-color: white,
    hover-color: rgba(106, 162, 226, 0.6)
    ),
);

// 主題函數
@mixin apply-theme($var) {
  --primary-color: #{map-get($var, primary-color)};
  --background-color: #{map-get($var, background-color)};
  --text-color: #{map-get($var, text-color)};
  --hover-color: #{map-get($var, hover-color)};
}

// 預設
:root {
  @include apply-theme(map-get($themes, light));
}

.dark-theme {
  @include apply-theme(map-get($themes, dark));
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2 {
  color: var(--primary-color);
}

a,
button {
  color: var(--primary-color);
  transition: color 0.3s ease;
}


a:hover,
button:hover {
  color: var(--hover-color);
}