.hotels-container {
  padding: 20px;
  background-color: #fafafa;
}

.hotels-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.full-width{
  width: 100%;
}

.hotel-page {
  padding: 24px;
}

.hotel-table {
  margin-top: 16px;
}

.add-room-btn {
  margin-bottom: 8px;
}

.vertical-checkbox-group {
  display: flex;
  flex-direction: column;
}
