.SearchItem {
    height: 240px;
    width: 100%;         
    max-width: 720px;     
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid lightblue;
    border-radius: 3px;
    margin-bottom: 15px;


    img {
        height: 210px;
        width: 200px;
        object-fit: cover;
        border-radius: 3px;
    }

    .itemInfo {
        width: 505px;
        height: 210px;

        .infoTitle {
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 20px;
                width: 300px;
            }

            .infoTitleRight {
                display: flex;
                gap: 5px;
                text-align: right;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    height: 40px;
                    width: 40px;
                    border: none;
                    background-color: var(--primary-color);
                    border-radius: 5px 5px 5px 0px;
                }
            }
        }

        .infoDes {
            .far {
                color: var(--primary-color);
                border-bottom: 1px solid var(--primary-color);
                font-size: 12px;
                margin-right: 5px;
            }

            .popular-icon {
                align-items: center;
                justify-content: center;
                color: var(--primary-color);
                font-size: 15px;
                font-weight: 200;
                padding: 5px;
                margin-right: 5px;
                border: none;
            }
        }
    }
}


.infoDetail {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .detailLeft {
        border-left: 3px solid lightgray;
        padding: 15px 5px;
        font-size: 12px;

        .detailDes {
            margin-top: 10px;
            font-weight: bolder;
            color: green;

            b {
                color: red;
            }
        }
    }

    .detailRight {
        font-size: 12px;

        .btn {
            margin-top: 10px;
            width: 200px;
            color: white;
            font-size: 18px;
            padding: 5px 10px;
            border: none;
            background-color: rgb(121, 120, 120);
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                background-color: var(--primary-color);
            }
        }

        .no-btn {
            margin-top: 10px;
            width: 200px;
            color: white;
            font-size: 18px;
            padding: 5px 10px;
            border: none;
            background-color: rgb(207, 207, 207);
            border-radius: 20px;
            cursor: not-allowed;
        }

        span {
            display: flex;
            justify-content: flex-end;
        }

        .price {
            font-size: 20px;
            font-weight: 500;
        }

        .tax {
            color: gray;
        }
    }
}



@media screen and (max-width: 768px) {
    .SearchItem {
        width: 100%;
        height: auto;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
        }

        .itemInfo {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 480px) {
    .SearchItem {
        width: 100%;
        margin-bottom: 10px;
    }

    .itemInfo {
        width: 100%;
    }

    .infoTitle h2 {
        font-size: 18px;
    }

    .infoTitleRight button {
        font-size: 16px;
    }

    .infoDes .far {
        font-size: 10px;
    }

    .infoDes .popular-icon {
        font-size: 12px;
    }

    .detailLeft,
    .detailRight {
        font-size: 10px;
    }

    .btn,
    .no-btn {
        width: 100%;
        font-size: 16px;
        margin-top: 5px;
    }
}